/*&display=swap*/
@import 'null.css';
@import url(https://fonts.googleapis.com/css?family=Lato:regular,700,900&display=swap);
.wrapper{
	/*background-color: #1E212C;*/
	overflow:hidden;
	min-height: 100%;
}
.container{
	max-width: 810px;
	/*выравнивание*/
	margin-left: 345px;
}
header{
	min-height:92px;
	margin:0 0 60px 0 ;
	/*background-color:blue;*/
}
p.header.text{
	max-height:30px;
	padding: 38px 0 ;
	font-family: lato;
	font-size: 25px;
	font-weight: bold;
	text-align: center;
	/*background-color: red;*/
}
/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* Добавляя padding-top and bottom нужно учитывать line-heigt текста  */
/* ============================================================= */
h1.main.title{
	padding: 37px 0 90px 0;
	font-family: Lato;
	font-size: 46px;
	font-weight: 900;
	line-height: 1.3;
	color: #1E212C;
	/*background-color: yellow;*/
}
h1 span{
	text-transform: uppercase;
}
img.main.image{
	margin: 0 0 60px;
}
p.main.paragraph-one{
	/*background-color: blue;*/
	font-family: Lato;
	font-weight: bold;
	font-size: 20px;
	line-height:1.5;
	color: #1E212C;
	margin: 0 0 24px;
}
p.main.paragraph-two{
	margin: 0 0 26px;
	/*background-color:red;*/
}
p.main.paragraph-three{
	margin: 0 0 48px;
}
p.paragraph{
	font-family: Lato;
	font-weight: normal;
	font-size: 16px;
	line-height: 1.625;
	color: #424551;
	}
p.main.paragraph-four{
	font-family: Lato;
	font-weight: bold;
	font-size: 20px;
	line-height: 1.5;
	color: #1E212C;
	margin: 0 0 48px 58px;
	}
	p.paragraph-five{
		margin:0 0 24px;
	}

ul.main.list{
	font-family: Lato;
	font-weight: normal;
	font-size: 16px;
	line-height: 1.625;
	color: #424551;
	margin:0 0 0 33px;
}
ul li{
	margin: 0 0 4px 0;
}
li.last{
	margin: 0 0 24px 0;
}

p.footer{
	margin-top: 100px;
	font-size: 50px;
}